{% extends "post.html" %}

{% block sidebar %}

                <section id="about">
                    <h1>Get in touch</h1>
                    <span class="icon person">Lauri Võsandi</span>
                    <a href="mailto:lauri.vosandi@gmail.com" class="icon email">lauri.vosandi@gmail.com</a>
                    <a class="icon location" href="#">Stockholm, Tallinn</a>
                    <a class="icon phone" href="phone:+37253329412">+372 5332 941</a>
                    <a class="icon twitter" href="https://twitter.com/v6sa">Twitter</a>
                    <a class="icon github" href="https://github.com/v6sa">GitHub</a>
                    <a class="icon linkedin" href="https://www.linkedin.com/in/laurivosandi">LinkedIn</a>
                    <a class="icon facebook" href="https://www.facebook.com/lauri.vosandi">Facebook</a>
                    <a class="icon training" href="irc:lauri@freenode.org">Freenode</a>
                    <a class="icon skype" href="skype:v6saxx">Skype</a>
                </section>
                
                <!--

                <section id="projects">
                    <h1>Projects</h1>
                    <a class="icon github" href="https://bitbucket.org/lauri.vosandi/moarcloud">Minimalist cloud software</a>
                    <a class="icon github" href="https://github.com/v6sa/invoice">HMTL5 invoice generator</a>
                </section>
               
               
                <section class="sponsors">
                    <h1>Sponsors</h1>
                    <a href="http://www.masterschool.eitictlabs.eu/">
                        <img alt="EIT ICT Labs Master School" src="/img/eit-ict-labs-250x100.png"/>
                    </a>
                    <a href="http://archimedes.ee/">
                        <img alt="Archimedes" src="/img/archimedes-250x100.png"/>
                    </a>
                    <a href="http://www.skype.com/en/">
                        <img alt="Skype" src="/img/skype-logo-250x110-original.png"/>
                    </a>
                    
                    <a href="http://www.elion.ee/">
                        <img alt="Elion" src="/img/elion-200x100.png"/>
                    </a>
                    <a href="https://www.emt.ee/en/">
                        <img alt="EMT" src="/img/emt-250x100.png"/>
                    </a>
                    <a href="https://www.swedbank.ee/private/home/start">
                        <img alt="Swedbank" src="/img/swedbank-250x80.png"/>
                    </a>
                </section>
                

                -->

{% endblock %}
