<!DOCTYPE html>
<html lang="{{language}}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block head %}
    {% if post %}
    {% if post.keywords %}<meta name="keywords" content="{% for keyword in post.keywords %}{{ keyword }}{% if not loop.last %},{% endif%}{% endfor %}"/>{% endif %}
    {% endif %}
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link type="application/atom+xml" rel="alternate" href="{{ base }}/atom.xml"/>
    <link type="application/rss+xml" rel="alternate" href="{{ base }}/rss.xml"/>
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Bitter"/>
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cabin+Condensed"/>
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin,latin-ext"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<!--    <link type="text/css" rel="stylesheet" href="http://fritzing.org/static/fonts/ocr-a-tribute/ocr-a-tribute.css"/> -->
    {% for relpath in javascript %}<script type="text/javascript" src="{{ relpath }}"></script>
    {% endfor %}
    {% for relpath in stylesheets %}<link type="text/css" rel="stylesheet" href="{{ relpath }}"/>
    {% endfor %}
    {% endblock %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-15387295-3', 'auto');
    ga('send', 'pageview');
    </script>
</head>
<body>

    <nav id="navigation">
        <div>
            <a class="navbar-brand" href="/">Lauri's blog</a>
            <a href="/posts.html" title="Blog posts">Posts</a>
            <a href="/about.html" title="About me">About</a>
            <a href="https://www.koodur.com" title="Products, services, training and course materials" target="_blank">Services</a>
            <a href="/atom.xml" title="Atom feed"><img src="/img/iconmonstr-rss-icon-white.svg" style="width:7mm;height:7mm;" alt="Atom"/></a>
            <input id="search" type="search" placeholder="Linux, OpenVPN, Strongswan, etc." class="icon search"/>
        </div>
    </nav>
    <div id="container">
        <aside id="sidebar">
            {% block sidebar %}
            {% endblock %}
        </aside>        
        <div id="content">
            {% block body %}

            {% endblock %}
       </div>
        
    </div>
</body>
</html>
